@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* main things */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #FFFFFF;
    --secondary-color: #00050a;
    --tertiary-color: #000;
    --quaternary-color: #3a78b5;
}
.dark-theme{
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --tertiary-color: #fff;
    --quaternary-color: #57c990;
}

body{
    background-color: var(--primary-color);
    transition: all .4s ease-in-out;
    
}

    /* nav bar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 2px solid var(--tertiary-color);
    transition: all .4s ease-in-out;    
}


.nav-list li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

.nav-list li a{
    transition: all .3s ease 0s;
    color: var(--secondary-color);
    
}




li a {
    text-decoration: none;
    transition: all .4s ease-in-out;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.logo{
    cursor: pointer;
    
}

.btn{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    padding: 9px 25px;
    border-radius: 50px;
    color: var(--secondary-color);
    transition: all .3s ease 0s;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}


    /* wire nightmode */

.absolute{
    position: absolute;
    right: 10rem;
    /* mobile 3rem */
    z-index: 4;
}

.area{
   
    animation: swing 4s ease-in-out  infinite  alternate;
    transform-origin: 50% 0;
    
}
@keyframes swing {
    0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(0deg);
      }

}
.wire{
    background-color: var(--tertiary-color);
    width: 3px;
    height: 130px;
    position: relative;
    left: 12px;
    transition: all .4s ease-out;
    
}

.fixture{
    background-color: var(--quaternary-color);
    width: 8px;
    height: 12px;
    position: relative;
    border: none;
    top: -6px;
    left: 10px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    z-index: 3;
}
.light-text{
    position: absolute;
    right: 5rem;
    padding-top: 145px;
    z-index: 3;
    
}
.light-text p{
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    animation: scale 4s ease-out infinite alternate;
    color: var(--secondary-color);
    transition: all .2s ease-in-out;
    
}
.light-text p #dark-text{
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    animation: scale 4s ease-out infinite alternate;
    color: var(--secondary-color);
    transition: all .2s ease-in-out;
}

@keyframes scale{
    0% {
        transform: skew(-.312rad);
      }
      50% {
        transform: skew(.312rad);
      }
      100% {
        transform: skew(-.312rad);
      }
}

/* image */
.picture{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    padding-left: 25%;
    transition: all .5s ease-in-out;
}
.mypic{
    width: 320px;
    height: 350px;
    border: 2px transparent var(--secondary-color);
    border-radius: 10%;
    transition: all .5s ease-in-out;
    filter: grayscale(100%);
    
}

/* text */
.container{
    position: absolute;
    z-index: 2;
    width: 45%;
    color: var(--secondary-color);
    transition: all .4s ease-in-out;
}

.container, .about-text{
    margin: 40px;
    
}
.about-text h1{
    padding-top: 20px;
}
.about-text p{
    padding-top: 20px;
    text-align: justify;
    
}

.input{
    color: var(--quaternary-color);
    transition: all .2s ease-in-out;
}

.social{
    display: flex;
    margin-left: -15px;
    padding-top: 10px;
    position: relative;
    
    
}
.social a{
    margin: 15px;
    font-size: 30px;
    color: var(--secondary-color);
    transition: all .4s ease-in-out;
}
.social a:hover{
    color: var(--quaternary-color);
    transform: scale(1.5);
}

/*footer*/
footer{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 500px;
    

}
footer p{
    font-size: 12px;
    color: var(--secondary-color);
    text-align: center;
    transition: all .4s ease;
}

/* hover */
@media (hover: hover) { 
    .social a:hover{
        color: var(--quaternary-color);
        transform: scale(1.5);
    }
    .btn:hover{
        background-color: var(--quaternary-color);
        color: #FFFFFF;
        border: 1px solid var(--quaternary-color);
    }
    .nav-list li a:hover{
        color: var(--quaternary-color);
    }
    .mypic:hover{
        filter: none;
        filter: grayscale(0%);
        transition: all 2s ease-in-out;
        cursor: wait;
    }
  }

/* screens */
@media screen and (max-width: 769px){
    li a {
        font-size: 18px;
    }
    .btn{
        padding: 6px 20px;
        border-radius: 50px;
        font-size: 18px;
    }
    .absolute{
        right: 6rem;
        z-index: 2;
    }
    .light-text{
        display: none;
    }
    .picture{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding-left: 1px;
        padding-top: 20px;
        z-index: 1;
    }
    .mypic{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid var(--secondary-color);
    }

    main{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .container{
        position: relative;
        width: 100%;
        margin-top: -25px;
    }
    .about-text h1{
        font-size: 22px;
        text-align: center;
    }
    .about-text h3{
        font-size: 22px;
        text-align: center;
    }
    .about-text p{
        font-size: 18px;
        text-align: justify;
    }
    .social{
        display: flex;
        padding-top: 10px;
        position: relative;
        justify-content: center;
        
    }
    .social a{
        font-size: 30px;
        margin: 13px;
    }
    .input{
        font-size: 22px;
    }
    footer{
        position: relative;
        padding-top: 0px;
    }
    footer p{
        font-size: 12px;
       
    }
}

@media screen and (max-width: 489px){
    
    li a {
        font-size: 12px;
    }
    .btn{
        padding: 4px 15px;
        border-radius: 50px;
        font-size: 12px;
        background-color: var(--quaternary-color) ;
        color: #fff;
        border: 1px solid var(--quaternary-colo);
    }
    .absolute{
        right: 3rem;
    }
    .light-text{
        display: none;
    }
    .picture{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding-left: 1px;
        padding-top: 20px;
        z-index: 1;
    }
    .mypic{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid var(--secondary-color);
        pointer-events: none;
    }

    main{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .container{
        width: 100%;
    }
    .about-text h1{
        font-size: 14px;
    }
    .about-text h3{
        font-size: 16px;
    }
    .about-text p{
        font-size: 12px;
        text-align: center;
    }
    .social{
        display: flex;
        padding-top: 10px;
        position: relative;
        justify-content: center;
        
    }
    .social a{
        font-size: 25px;
        margin: 13px;
    }
    .input{
        font-size: 14px;
    }
    footer p{
        font-size: 8px;
        margin-top: -60px;
    }
}

