@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* main things */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #FFFFFF;
    --secondary-color: #00050a;
    --tertiary-color: #000;
    --quaternary-color: #3a78b5;
}
.dark-theme{
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --tertiary-color: #fff;
    --quaternary-color: #57c990;
}

body{
    background-color: var(--primary-color);
    transition: all .4s ease-in-out;
    
}

    /* nav bar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 2px solid var(--tertiary-color);
    transition: all .4s ease-in-out;    
}


.nav-list li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

.nav-list li a{
    transition: all .3s ease 0s;
    color: var(--secondary-color);
    
}




li a {
    text-decoration: none;
    transition: all .4s ease-in-out;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.logo{
    cursor: pointer;
    
}

.btn{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    padding: 9px 25px;
    border-radius: 50px;
    color: var(--secondary-color);
    transition: all .3s ease 0s;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}


    /* wire nightmode */

.absolute{
    position: absolute;
    right: 10rem;
    /* mobile 3rem */
    z-index: 4;
}

.area{
   
    animation: swing 4s ease-in-out  infinite  alternate;
    transform-origin: 50% 0;
    
}
@keyframes swing {
    0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(0deg);
      }

}
.wire{
    background-color: var(--tertiary-color);
    width: 3px;
    height: 130px;
    position: relative;
    left: 12px;
    transition: all .4s ease-out;
    
}

.fixture{
    background-color: var(--quaternary-color);
    width: 8px;
    height: 12px;
    position: relative;
    border: none;
    top: -6px;
    left: 10px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    z-index: 3;
}
.light-text{
    position: absolute;
    right: 5rem;
    padding-top: 145px;
    z-index: 3;
    
}
.light-text p{
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    animation: scale 4s ease-out infinite alternate;
    color: var(--secondary-color);
    transition: all .2s ease-in-out;
    
}
.light-text p #dark-text{
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    animation: scale 4s ease-out infinite alternate;
    color: var(--secondary-color);
    transition: all .2s ease-in-out;
}

@keyframes scale{
    0% {
        transform: skew(-.312rad);
      }
      50% {
        transform: skew(.312rad);
      }
      100% {
        transform: skew(-.312rad);
      }
}

/* image */
.picture{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    padding-left: 25%;
    transition: all .5s ease-in-out;
}
.mypic{
    width: 340px;
    height: 350px;
    border: 2px transparent var(--secondary-color);
    border-radius: 10%;
    transition: all .5s ease-in-out;
    filter: grayscale(100%);
    
}

/* text */
.container{
    position: absolute;
    z-index: 2;
    width: 45%;
    color: var(--secondary-color);
    transition: all .4s ease-in-out;
}

.container, .about-text{
    margin: 40px;
    
}
.about-text h1{
    padding-top: 20px;
}
.about-text p{
    padding-top: 20px;
    text-align: justify;
    
}

.input{
    color: var(--quaternary-color);
    transition: all .2s ease-in-out;
}

.social{
    display: flex;
    margin-left: -15px;
    padding-top: 10px;
    position: relative;
    
    
}
.social a{
    margin: 15px;
    font-size: 30px;
    color: var(--secondary-color);
    transition: all .4s ease-in-out;
}
.social a:hover{
    color: var(--quaternary-color);
    transform: scale(1.5);
}

/*footer*/
footer{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 500px;
    

}
footer p{
    font-size: 12px;
    color: var(--secondary-color);
    text-align: center;
    transition: all .4s ease;
}

/* overlay */
.overlay {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    z-index: 5;
    visibility: hidden;
    overflow: hidden;
    background-color: var(--quaternary-color);
    transition: all .9s ease-in-out;
}
    .open {
        opacity: 1;
        visibility: visible;
        height: 100%;
        transition: all .5s ease-in-out;
    }
   
/* Slideshow container */
.csslider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin-bottom: 22px;
}
.csslider > input {
  display: none;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
  margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
  margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
  margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
  margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
  margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
  margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
  margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
  margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
  margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
  margin-left: 0%;
}
.csslider > ul {
  position: relative;
  width: 916px;
  height: 483px;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  background-color: #3a3a3a;
  border: 10px solid #3a3a3a;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.csslider > ul > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
}
.csslider > ul > li.scrollable {
  overflow-y: scroll;
}
.csslider > .navigation {
  position: absolute;
  bottom: -8px;
  left: 50%;
  z-index: 10;
  margin-bottom: -10px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider > .navigation > div {
  margin-left: -100%;
}
.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  padding: 4px;
  background: #3a3a3a;
}
.csslider > .navigation label:hover:after {
  opacity: 1;
}
.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #71ad37;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}
.csslider > .arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}
.csslider.inside .navigation label {
  border: 1px solid #7e7e7e;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
  opacity: 1;
}
.csslider > .arrows {
  position: absolute;
  left: -31px;
  top: 50%;
  width: 100%;
  height: 26px;
  padding: 0 31px;
  z-index: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider > .arrows label {
  display: none;
  position: absolute;
  top: -50%;
  padding: 13px;
  box-shadow: inset 2px -2px 0 1px #3a3a3a;
  cursor: pointer;
  -moz-transition: box-shadow 0.15s, margin 0.15s;
  -o-transition: box-shadow 0.15s, margin 0.15s;
  -webkit-transition: box-shadow 0.15s, margin 0.15s;
  transition: box-shadow 0.15s, margin 0.15s;
}
.csslider > .arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #71ad37;
  margin: 0 0px;
}
.csslider > .arrows label:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
  display: block;
  left: 0;
  right: auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
  display: block;
  right: 0;
  left: auto;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* hover */
@media (hover: hover) { 
    .social a:hover{
        color: var(--quaternary-color);
        transform: scale(1.5);
    }
    .btn:hover{
        background-color: var(--quaternary-color);
        color: #FFFFFF;
        border: 1px solid var(--quaternary-color);
    }
    .nav-list li a:hover{
        color: var(--quaternary-color);
    }
    .mypic:hover{
        filter: none;
        filter: grayscale(0%);
        transition: all 2s ease-in-out;
        cursor: pointer;
    }
  }

/* screens */
@media screen and (max-width: 769px){
    li a {
        font-size: 18px;
    }
    .btn{
        padding: 6px 20px;
        border-radius: 50px;
        font-size: 18px;
    }
    .absolute{
        right: 6rem;
        z-index: 2;
    }
    .light-text{
        display: none;
    }
    .picture{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding-left: 1px;
        padding-top: 20px;
        z-index: 1;
    }
    .mypic{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid var(--secondary-color);
    }

    main{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .container{
        position: relative;
        width: 100%;
        margin-top: -25px;
    }
    .about-text h1{
        font-size: 22px;
        text-align: center;
    }
    .about-text h3{
        font-size: 22px;
        text-align: center;
    }
    .about-text p{
        font-size: 18px;
        text-align: justify;
    }
    .social{
        display: flex;
        padding-top: 10px;
        position: relative;
        justify-content: center;
        
    }
    .social a{
        font-size: 30px;
        margin: 13px;
    }
    .input{
        font-size: 22px;
    }
    footer{
        position: relative;
        padding-top: 0px;
    }
    footer p{
        font-size: 12px;
       
    }
    .overlay {
        top: 97px;
    }
    .prev {
        display: none;
       
      }
}

@media screen and (max-width: 489px){
    
    li a {
        font-size: 12px;
    }
    .btn{
        padding: 4px 15px;
        border-radius: 50px;
        font-size: 12px;
        background-color: var(--quaternary-color) ;
        color: #fff;
        border: 1px solid var(--quaternary-colo);
    }
    .absolute{
        right: 3rem;
    }
    .light-text{
        display: none;
    }
    .picture{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding-left: 1px;
        padding-top: 20px;
        z-index: 1;
    }
    .mypic{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid var(--secondary-color);
        pointer-events: none;
    }

    main{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .container{
        width: 100%;
    }
    .about-text h1{
        font-size: 14px;
    }
    .about-text h3{
        font-size: 16px;
    }
    .about-text p{
        font-size: 12px;
        text-align: center;
    }
    .social{
        display: flex;
        padding-top: 10px;
        position: relative;
        justify-content: center;
        
    }
    .social a{
        font-size: 25px;
        margin: 13px;
    }
    .input{
        font-size: 14px;
    }
    footer p{
        font-size: 8px;
        margin-top: -60px;
    }
    .overlay {
        top: 83px;
    }
    .prev {
        display: none;
       
      }
}

