@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
    /* nav bar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #66BFBF;
}
.navbar{
    background-color: #66BFBF;
}

.nav-list li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

.nav-list li a{
    transition: all .3s ease 0s;
    color: #FFFFFF;
    
}


.nav-list li a:hover{
    color: #FF0063;
}

li a {
    text-decoration: none;
    background-color: #66BFBF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.logo{
    cursor: pointer;
    background-color: #66BFBF;
}

button{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 9px 25px;
    border-radius: 50px;
    color: #FFFFFF;
    transition: all .3s ease 0s;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #FF0063;
    color: #FFFFFF;
    border: 1px solid #FF0063;
}

    /* wire nightmode */

.absolute{
    position: absolute;
    right: 12rem;
    /* mobile 3rem */
}

.area{
   
    animation: swing 4s ease-in-out  infinite  alternate;
    transform-origin: 70% 0;
    
}
@keyframes swing {
    0% {
        transform: rotate(-5deg);
      }
      50% {
        transform: rotate(5deg);
      }
      100% {
        transform: rotate(-5deg);
      }

}
.wire{
    background-color: #66BFBF;
    width: 4px;
    height: 120px;
    position: relative;
    left: 12px;
}

.fixture{
    background-color: #FF0063;
    width: 8px;
    height: 12px;
    position: relative;
    left: 10px;
    cursor: pointer;
}
.light-text{
    position: absolute;
    right: 15rem;
    padding-top: 110px;
}
.light-text p{
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 20px;
}

/* text */
.container{
    width: 50%;
    padding-top: 30px;
    color: #736470;
}

.container, .about-text{
    margin: 40px;
}
.about-text h1{
    padding-top: 20px;
}
.about-text p{
    padding-top: 20px;
    text-align: justify;
}

.input{
    color: #FF0063;
}

.social{
    display: flex;
    margin: 30px;
}
.social a{
    margin: 15px;
    font-size: 30px;
    color: #736470;
    transition: all .4s ease-in-out;
    padding-top: -10px;
}
.social a:hover{
    color: #FF0063;
    transform: scale(1.2);
}